html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}

/* Computer navigation bar */
.navbar {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;

    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Shop name */
.shop-name {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* Navigation links */
.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links a,
.nav-links a:visited {
    padding: 10px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
}

/* Link changes when the mouse is over it */
.nav-links a:hover {
    color: black;
    background-color: white;
    border-radius: 5px;
}

/* Hide hamburger button on computers */
.menu-button {
    display: none;
}

/* Page sections */
#home {
    padding: 40px 20px;
}

.content {
    padding: 20px;
}

section {
    min-height: 300px;
    padding-top: 30px;
}

textarea{
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    resize: vertical;
    vertical-align: top;
}

fieldset{
    border: none;
    padding: 0;
    margin: 30px 0;
}

legend {
    font-size: 20px;
    font-weight:bold;
    margin-bottom: 15px;
}

/*Styling for the hero (Main Starting Page)*/
/*Removing spacing from margin*/
.content{
    padding:0;
    margin:0;
}

/* Full-screen title page */
.hero {
    min-height: calc(100vh - 65px);
    box-sizing: border-box;

    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.72),
            rgba(0, 0, 0, 0.72)
        ),
        url("../images/wallpaper.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    padding: 60px 12%;
}

.hero-content{
    max-width: 600px;
    color: white;
}

.hero-label{
    color:#ff6600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight:bold;
    letter-spacing:4px;
    margin-bottom: 20px;
}

.hero h1 {
    color: white;
    font-size: 65px;
    line-height: 0.95;
    margin: 0 0 25px;
}

.hero h1 span {
    color: #ff6600;
}

.hero-description {
    color: #cccccc;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.hero-buttons a {
    padding: 18px 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.service-button {
    color: black;
    background-color: #ff6600;
}

.mission-button {
    color: white;
    background-color: rgba(0, 0, 0, 0.35);
    border: 1px solid #777777;
}

.service-button:hover {
    background-color: red;
}

.mission-button:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

/* Give the other sections spacing */

#contact {
    padding: 70px 40px;
}

/* About Us Section */
.heading {
    width: 100%;
    min-height: calc(100vh - 65px);
    box-sizing: border-box;

    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.72),
            rgba(0, 0, 0, 0.72)
        ),
        url("../images/black.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    padding: 60px 12%;
}

.heading-content{
    max-width: 600px;
    color: white;
}

.heading-label{
    color:#ff6600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight:bold;
    letter-spacing:4px;
    margin-bottom: 20px
}

.heading h1{
    color:white;
    font-size: 65px;
    line-height:0.95;
    margin: 0 0 25px;

}

.heading h1 span{
    color:#ff6600
}

.heading-aboutUs{
    color: #cccccc;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 30px;
}

#about{
     padding: 0;
    margin: 0;
    width: 100%;
}

/*Services Page (header2)*/
.heading2 {
    width: 100%;
    min-height: calc(100vh - 65px);
    box-sizing: border-box;

    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.72),
            rgba(0, 0, 0, 0.72)
        ),
        url("../images/black.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    padding: 60px 12%;
}

.heading2-services{
    max-width: 600px;
    color: white;
}

.heading2-label{
    color:#ff6600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight:bold;
    letter-spacing:4px;
    margin-bottom: 20px
}

.heading2 h1{
    color:white;
    font-size: 65px;
    line-height:0.95;
    margin: 0 0 25px;

}

.heading2 h1 span{
    color:#ff6600
}

#services{
    padding: 0;
    margin: 0;
    width:100%;
}
