html{
    scroll-behavior: smoothl

}

body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif
    
}



.navbar{
    width: 100%;
    box-sizing: border-box;
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;

    position: sticky;
    top:0;
    z-index: 1000;

}

.shop-name{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/*Leaving this here js in case*\

/* 
.nav-links{
    display:flex;
    gap: 20px;
}
*/

.nav-links a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;

}

.nav-links a:hover{
    background-color: white;
    border-radius: 5px;
    
}

.navbar a,
.navbar a:visited {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
}

#home{
    padding: 40px 20px;}

    .content{
        padding: 20px;
    }

    section{
        min-height: 300px;
        padding-top: 30px;
    }